extends ../layout

block content                                          
  .container-fluid#accContainer
    .row.col-md-6.col-md-offset-4.col-sm-8.col-sm-offset-3.col-xs-10.col-xs-offset-1
      h2 Profile Information
      a(href='/')
        i#exitBtn.fa.fa-sign-out.fa-3x(aria-hidden='true')
      form.form-horizontal(action='/account/profile', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-3.control-label(for='email') History
          .col-sm-7
            h4= '✦ Top Score : ' + user.game.top
            h4= '✦ Avg Score : ' + Math.floor(user.game.exp / (user.game.single+user.game.total))
            h4= '✦ Singleplay : ' + user.game.single
            h4= '✦ Multiplayer Match : ' + user.game.total
            h4= '✦ Win : ' + user.game.win + ' ✧ Lose : ' + user.game.lose
            h4= '✦ Exp : ' + user.game.exp + ' points'
            h4= '✦ Level : ' + user.game.level
        .form-group
          label.col-sm-3.control-label(for='email') Email
          .col-sm-7
            input.form-control(type='email', name='email', id='email', value=user.email)
        .form-group
          label.col-sm-3.control-label(for='name') Name
          .col-sm-7
            input.form-control(type='text', name='name', id='name', value=user.profile.name)
        .form-group
          .col-sm-offset-3.col-sm-4
            button.btn.btn.btn-primary(type='submit')
              i.fa.fa-pencil
              |  Update Profile


      form.form-horizontal(action='/account/delete', method='POST')
        .form-group
          p.col-sm-offset-3.col-sm-6 This action is irreversible.
          .col-sm-offset-3.col-sm-4
            input(type='hidden', name='_csrf', value=_csrf)
            button.btn.btn-danger(type='submit', name='delete')
              i.fa.fa-trash
              |  Delete my account
            
